body {
  background-color: rgb(232, 160, 100);
}

.square {
  width: 80px;
  height: 80px;
  border: 1px black solid;
  background-color: rgb(255, 196, 148);
}


.square-red {
  width: 80px;
  height: 80px;
  border: 1px black solid;
  background-color: rgb(181, 111, 52);
}

.topleft {
  border-radius: 10px 0 0 0;
}

.topright {
  border-radius: 0 10px 0 0;
}

.bottomright {
  border-radius: 0 0 10px 0;
}

.bottomleft {
  border-radius: 0 0 0 10px;
}

.target-square {
  background-color: red;
}

#board {
  width: 640px;
  height: 640px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.piece {
  width: 80px;
  height: 80px;
}

.promote-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}
